body{
    color: $black;
}

h5{
    color: grey;
    font-size: 0.7rem;
    margin: .5rem 0 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $titleColor;
}

h2{
    font-family: $displayFont;
    font-size: 3rem;
    text-transform: capitalize;
    margin: .5rem 0 3rem;
    color: $black;
}

p{
    font-size: 0.8rem;
    color: $paragraphColor;
    line-height: 2;
    margin: .5rem 0 3rem;
    font-weight: 300;
}

a {
    transition: all 0.5s ease-in-out;
    &:hover {
        color: $red;
    }
}

.quote{
    color: grey;
    margin: .5rem 0 3rem;
    strong{
        font-weight: 700;
        color: #000;
    }
}

strong{
    font-weight: 600;
}

em{
    font-style: italic;
}

.texturebg{
    background: $greyBG;
    background-image: url("/img/texture.png"); 
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}